# ============================================
# 🚫 Abaikan semua platform (jangan upload ke Git)
ios/
macos/
windows/
linux/
web/

# ============================================
# 🔧 Flutter & Dart build/cache files
.dart_tool/
.packages
.pub/
.pub-preload-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# ============================================
# 🧪 Testing & coverage
coverage/
**/test-output/

# ============================================
# 💻 Editor & IDE
.idea/
.vscode/
*.iml
*.swp

# ============================================
# 🔒 Sistem & sementara
*.lock
*.log
*.tmp
*.DS_Store
*.class
*.pyc
*.env
*.db

# Python virtual environments
venv/
**/__pycache__/

# Android
android/.gradle/
**/android/gradle-wrapper.jar
**/android/local.properties
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java
.gradle/
*.jks

# ============================================
# ✅ Kecualikan file tertentu jika perlu (opsional)
# !lib/**/*.dart
# !develop/**/*.dart
